# main sever
BACKEND_PORT=3000
FRONTEND_URL=http://localhost:5173
NODE_ENV= development 

# postgers database
DB_USER=your postgers's username
DB_HOST=your postgers's host name
DB_NAME=name of database
DB_PASSWORD=password of postgres
DB_PORT=port of postgres server