# main sever
BACKEND_PORT=3000
FRONTEND_URL=http://localhost:5173
NODE_ENV= development or production

# postgers database
USER=your postgers's username
HOST=your postgers's host name
DB=name of database
PASSWORD=password of postgres
PORT=port of postgres server